<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>PIZZA DELIVERY</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	</head>
	<body>
		<div class="content">
			<h1>PIZZA DELIVERY</h1>
				<div class="wrapper">
				<img id="w-image" src="/images/pizza.png" alt="">
					<div id="w-text">
						<span id="weather"><%= duration %> minutes</span>
						<h2>$<%= fee %> FEE</h2>
						<!--<p>Fee: $</p>	-->
					</div>	
				</div>		
		</div>			
	</body>
</html>