<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Weather</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	</head>
	<body>
		<div class="content">
			<h1>WEATHER</h1>
				<div class="wrapper">
				<%if (conditions=="Chance of Rain") {%><img id="w-image" src="/images/rain.png" alt=""><% }%>
				<%if (conditions=="Partly Cloudy") {%><img id="w-image" src="/images/partly.png" alt=""><% }%>
				<%if (conditions=="Mostly Cloudy") {%><img id="w-image" src="/images/cloudy.png" alt=""><% }%>
				<%if (conditions=="Snow") {%><img id="w-image" src="/images/snow.png" alt=""><% } %>
				<%if (conditions=="Thunderstorm") {%><img id="w-image" src="/images/sunny.png" alt=""><% } %>
				<%if (conditions=="Clear") {%><img id="w-image" src="/images/thunder.png" alt=""><% }%>
					<div id="w-text">
						<span id="weather"><%= current %>&#176;F</span>
						<h2><%= conditions %></h2>
						<p><%= high.fahrenheit %> / <%= low.fahrenheit %> &#176;F</p>	
					</div>	
				</div>		
		</div>			
	</body>
</html>